body {
    background-color: #151515;
}
header {
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}
ul {
    list-style-type: none;
    text-align: center;
}
div {
    background-color: aqua;
    text-align: center;
    padding: 20px 40px 20px 40px;
    margin: 30px 50px 30px 50px;
    border: 3px solid #fff;
}