* {
    box-sizing: border-box;
}
body {
    background-color: #151515;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}


li {
    display: inline;
    margin-right: 100px;
}


a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: aqua;
    font-size: 25px;
}
li:last-child {
    margin-right: 0px;
}

nav {
    margin-bottom: 20px;
}
.section-about {
    height: 640px;
    background-image: url(../img/samolet_zdaniia_neboskreby_120051_3840x2400.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244,213,178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top: 349px;
    left: 730px;
    padding-top: 15px;
    text-align: center;
}
.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;
}
.section-about__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}
.section-about__text {
    font-size: 16px;
    margin: 0;
}